export(complementary_oligo_positions)
export(convertSparse2Complete_ff)
export(cut_out_fasta_multiple)
export(cut_out_fasta_multiple_from_one_chr)
export(cut_out_fasta_single)
export(fasta2num)
export(fasta2sparse_boolean)
export(fasta2sparse_boolean_ff)
export(getRunningWindowCG)
export(get_genome_avg)
export(num2freq)
export(num2weightedfreq)
export(oligo_names)
export(plotOligoFreqs)
export(read_genome_fasta)
export(seqLogo)
import(Biostrings)
import(ff)
import(ffbase)
import(grid)
import(maRs)
